* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    

    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    

    #particles-js {
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: -99;
    }
}

header {
    position: relative;

    p {
        color: #ffffff;
        font-size: 1rem;
        font-weight: bold;
        margin-left: 1rem;
        align-items: center;
        justify-content: center;
    }

    ul {
        justify-content: end;
    }

    li {
    list-style: none;
    display: inline;
    margin: 0 15px;

        a {
            color: #ffffff;
            text-decoration: none;
            font-weight: bold;
        }
    }

    svg {
        position: absolute;
        top: 10px;
        cursor: pointer;
        color: #ffffff;
    }
}



