body {
    display: flex;
    width: 100%;
    background-color: #051824;
}

h2 {
    color: #27e9b5;
    padding-bottom: 3rem;
    width: 150%;
    font-family: "Orbitron";
    font-size: 3.5rem;
}

p {
    color: #a7ebf2;
    width: 150%;;
    padding-bottom: 3rem;
    padding-right: 5rem;
    padding-left: 0.1rem;
    font-family: "Montserrat";
    font-size: 2rem;
}

.languange {
    display: inline-grid;
    width: 10rem;
    height: auto;
}

.left { /* COLOR BORDE IZQUIERDO */
    position: fixed;
    align-items:first baseline;
    justify-content: flex-start;
    height: 0rem;
    padding: 200rem 10rem;
    background-color: rgb(3, 41, 51, 50);
    
}

#lateral {
    top: 30rem;
    padding: 1rem;
    border: 10rem;
    left: 6rem;
    position:fixed;
}


#nombre, #sobremi, #port, #sk, #cont {
    padding: 1rem;
    border: 10rem;
    left: 6rem;
    position:fixed;
}

#nombre {
    top: 30rem;
   
}

#sobremi {
    top: 33rem;
}

#port {
    top: 36rem;
}

#sk {
    top: 39rem;
}

#cont {
    top: 42rem;
}

#img {
    border-radius: 20px;
    top: 10rem;
    left: 4rem;
    position:fixed;
}


.main, .history, .porfolio, .education, .skills, .contact{
    position: static;
    padding: 10rem 50rem 50rem 25rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, .udelar {
    color: antiquewhite;
    text-decoration: none;
    font-family: "Montserrat";
    border-radius: 5px;
    transition: all 0.2s;
}

a.latlinks:hover, .udelar:hover, .descarga_cv:hover{
    width: 9em;
    height: 3rem;
    background-color: rgba(0, 195, 255, 0.377);
    border: 10px solid rgba(34, 120, 178, 0);
    border-radius: 10px;
    font-weight: bold;
    color: black;
    cursor: pointer;
     transition: all 0.5s;
}

.udelar:hover {
    border: 2px solid rgba(34, 120, 178, 0);
    
}

.infocontacto {
    display: flex;
    padding-bottom: 4rem;
    width: 5rem;
    height: auto;
}

